<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.product.mapper.ProductMapper">
    <update id="batchDeductStock">
        UPDATE product
        SET stock = stock - CASE
        <foreach collection="list" item="item">
            WHEN id = #{item.productId} THEN #{item.quantity}
        </foreach>
        END
        WHERE id IN
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item.productId}
        </foreach>
        AND (
        <foreach collection="list" item="item" separator=" OR ">
            (id = #{item.productId} AND stock >= #{item.quantity})
        </foreach>
        )
    </update>
    <select id="lockProducts" resultType="com.example.product.entity.Product">
        SELECT *
        FROM product
        WHERE id IN
        <foreach item="id" collection="productIds" open="(" separator="," close=")">
            #{id}
        </foreach>
        ORDER BY id ASC
        FOR UPDATE
    </select>
</mapper>